@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black; 
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 768px) {
    html {
      scroll-padding-top: 64px; 
    }
  }