@keyframes waveIn {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    50% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes waveOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(50px);
        opacity: 0;
    }
}

.wave-animation {
    animation: waveIn 2s ease-in-out, waveOut 3s ease-in-out 6s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.preloader-wrapper {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeOut 4s ease-in-out forwards; 
}

.fade-in-content {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

